* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

header {
    background: #474787;
    min-height: 100vh;
    position: relative;
    /* set z-index chỗ này để làm mốc */
    z-index: 1;
}

header:before {
    content: '';
    background: orange;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    clip-path: circle(50% at 100% 0%);
    /* set z-index :before để cho phần hình tròn hiển thị phía sau phần header */
    z-index: -1;
}

header .header_menu {
    display: flex;
    /* position: relative; */
    padding-top: 20px;
}

header .header_menu .logo {
    width: 50%;
    font-size: 40px;
    color: #fff;
    margin-bottom: 20px;
    padding-left: 50px;
}

header .header_menu .menu {
    width: 50%;
    padding-left: 50px;
}

header .header_menu .menu ul {
    display: flex;
    justify-content: right;
}


header .header_menu .menu ul li a {
    padding: 0px 20px;
    color: #fff;
    font-weight: 800;
}

header #banner {
    display: flex;
    width: 100%;
    height: 100%;
    margin-top: 150px;
}

header #banner .intro {
    width: 50%;
    height: 100%;
    color: #fff;
    margin-left: 50px;
    padding: 100px;
    /* background: orange; */
    display: flex;
    justify-content: center;
    /* flex-direction: row; */
    flex-direction: column;
}

header #banner .intro h2{
    font-size: 40px;
    font-weight: 1000;
    padding-bottom: 10px;
}

header #banner .intro p{
    font-size: 18px;
    padding-bottom: 10px;
}

header #banner .intro .learn-more-button{
    width: 100px;
    height: 35px;
    background: linear-gradient(to right,#72cced,#2a83a3);
    display: block;
    padding: 2px;
    font-weight: 700;
    text-align: center;
    border-radius: 30%;
    border: none;
}

header #banner .intro .learn-more-button a{
    color: #fff;
}


header #banner .slider {
    width: 50%;
    height: 100%;
    justify-items: center;
}

header .icons {
    display: flex;
    position: absolute;
    bottom: 100px;
    left: 50px;
}

header .icon{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 5px black;
}

header .icon:hover{
    color: #fff;
    background-color: #42c5f5;
    transform: translateY(-20px);
    transition: .5s;
}

@media screen and (max-width: 991px) {
    header {
        /* unset để xóa phần height ban đầu đã set sẵn cho header */
        /* set min-heigh để nếu khi wrap mà bị thiếu height thì sẽ tự extend */
        height: unset;
        min-height: 100vh;
    }

    header .header_menu{
        flex-wrap: wrap;
    }

    header .header_menu .logo{
        width: 100%;
    }

    header .header_menu .menu{
        width: 100%;
    }

    header #banner {
        flex-wrap: wrap;
        margin-top: 50px;
    }

    /* chỗ này nên trỏ nhiều lớp -> trỏ vị trí tuyệt đối thì css mới k bị dính độ ưu tiên */
    header #banner .intro{
        width: 100%;
        margin-bottom: 50px;
    }

    header #banner .slider{
        width: 100%;
    }

    header #banner .slider .swiper{
        width: 800px;
        margin-bottom: 50px;
    }
}
